html {
    box-sizing: border-box;
    font-size: 62.5%;
    background: linear-gradient(270deg, #f7d0f4, #bfe3c3);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 29s ease infinite;
    -moz-animation: AnimationName 29s ease infinite;
    animation: AnimationName 29s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes Cambiarcolor {
    0% {
        background-color: #3b0322;
    }

    50% {
        background-color: rgb(172, 76, 140);
    }

    100% {
        background-color: rgb(67, 129, 48);
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: grid;
    grid-template-areas: "header header header header"
        "nav nav nav nav nav"
        "section section section section"
        "section section section section"
        "footer footer footer footer";
}

header {
    grid-area: "header";
    padding: 0.5rem;
    margin: 1rem;
    display: grid;
    grid-template-areas: "logo logo título título título";
    column-gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

.logo-header {
    grid-area: "logo";
    border-radius: 50rem;
    border: 0.2rem rgb(134, 94, 132) solid;
}

header div img:hover {
    transform: rotate(360deg) scale(1.2, 1.2);
    transition: all 2s ease-in;
}

.título-header {
    color: rgb(146, 17, 118);
    font-size: 5.3rem;
    font-style: normal;
    font-weight: bold;
    font-family: 'Oooh Baby', cursive;
}

nav {
    grid-area: "nav";
    padding: 1.5rem;
    margin: 1rem;
    animation: Cambiarcolor 5s linear infinite alternate;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    border: 0.2rem solid black;
    border-radius: 2rem;
}


nav a {
    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(206, 197, 180);
    text-decoration: none;
}

a i {
    color: rgb(206, 197, 180);
}

nav a:hover {
    background-color: rgb(80, 32, 72);
    color: rgb(62, 163, 59);
    transition: all 0.2s ease-in;
    border-radius: 0.3rem;
}

section {
    grid-area: "section";
    border: double 0.3rem rgb(77, 1, 1);
    border-radius: 1rem;
    margin: 2rem;
    padding: 1rem;
}


.div-section {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    row-gap: 0.1rem;
}

.div-section-a {
    font-family: 'Amatic SC', cursive;
    font-size: 4rem;
    color: blue;
    font-weight: bold;
    text-align: center;

}

.div-article-b {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    color: purple;
    font-weight: 700;
    text-align: justify;
}

article h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 2.5rem;
    color: rgb(196, 15, 120);
    font-weight: bold;
}

i {
    color: rgb(151, 12, 12);
}

#i-b {
    color: green;
}

footer {
    background-color: #59307e;
    border-radius: 1rem;
    color: wheat;
    margin: 1rem;
    padding: 1rem;
    grid-area: "footer";
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

#instagram {
    background-color: transparent;
}

.div-footer {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: 1fr;
    justify-content: start;
    align-content: center;
}

.div-footer2 {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: start;
    align-content: center;
}


footer div {
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Oleo Script Swash Caps', cursive;
}