html {
    box-sizing: border-box;
    font-size: 62.5%;
    background: linear-gradient(87deg, #b4a1c6, #86d786, #b4a1c6);
    background-size: 600% 600%;

    -webkit-animation: Fondogradienteanimado 11s ease infinite;
    -moz-animation: Fondogradienteanimado 11s ease infinite;
    -o-animation: Fondogradienteanimado 11s ease infinite;
    animation: Fondogradienteanimado 11s ease infinite;
}

@-webkit-keyframes Fondogradienteanimado {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 51%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Fondogradienteanimado {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 51%
    }

    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes Fondogradienteanimado {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 51%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes Fondogradienteanimado {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 51%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes Cambiarcolor {
    0% {
        background-color: #3b0322;
    }

    50% {
        background-color: rgb(248, 169, 222);
    }

    100% {
        background-color: rgb(99, 168, 78);
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: grid;
    grid-template-areas: "header header header header"
        "nav nav nav nav nav"
        "section section section section"
        "section section section section"
        "footer footer footer footer";
}

header {
    grid-area: "header";
    padding: 0.5rem;
    margin: 1rem;
    display: grid;
    grid-template-areas: "logo logo título título título";
    column-gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

.logo-header {
    grid-area: "logo";
    border-radius: 50rem;
    border: 0.2rem rgb(134, 94, 132) solid;
}

header div img:hover {
    transform: scale(1.2, 1.2);
    transition: all 1s ease-in;
}

.título-header {
    color: rgb(146, 17, 118);
    font-size: 4.3rem;
    font-style: normal;
    font-weight: 600;
    font-family: 'Courgette', cursive;
}

nav {
    grid-area: "nav";
    padding: 1.5rem;
    margin: 1rem;
    animation: Cambiarcolor 5s linear infinite alternate;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    border: 0.2rem solid black;
    border-radius: 2rem;
}


.a-nav {
    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: wheat;
}

a:hover {
    background-color: rgb(250, 164, 236);
    color: rgb(62, 163, 59);
}

section {
    grid-area: "section";
    border: double 0.3rem rgb(77, 1, 1);
    border-radius: 1rem;
    margin: 2rem;
    padding: 1rem;
}

article h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 4rem;
    color: blue;
    font-weight: bold;
}

.div-article-b {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    color: purple;
    font-weight: 700;
}

article h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 2.5rem;
    color: rgb(196, 15, 120);
    font-weight: bold;
}

i {
    color: rgb(151, 12, 12);
}

#i-b {
    color: green;
}

footer {
    margin: 1rem;
    padding: 1rem;
    grid-area: "footer";
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

#instagram {
    background-color: transparent;
}

footer div {
    border: solid black 0.1rem;
    font-size: 1.1rem;
    display: inline-block;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}